.super-rare {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #000026;
}

.title {
  color: #f2c832;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.description {
  color: #000026;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  gap: 0.2rem;
  font-size: 1.4rem;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
}

@media screen and (min-width: 280px) and (max-width: 1080px) {

  .super-rare{
    padding: 1rem 2rem;
    width: 100vw;
  }

  .cards{
    overflow: auto;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 2.9rem;}
    ::-webkit-scrollbar {
      display: list-item;
    }
    .title {
      color: #f2c832;
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }
    .description {
      color: #000026;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      text-align: center;
    }
  
.card{
  zoom: 0.9;
  display: flex;
  justify-content: space-evenly;
  gap: 0.2rem;
  
}
}