/* font-family for the Navigtion Bar */

@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

/* font-family for the entire application */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.navbar {
  line-height: 10vh;
  height: 10vh;
  background: whitesmoke;

  box-shadow: #f6f6f6 0 30px 30px -20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-family: "Rubik Wet Paint", cursive;
  color: #f2c832;
}

.logo a {
  text-decoration: none;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.nav-links li {
  color: #000026;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.hero {
  text-align: center;
  margin-top: 4%;
}
.hero h1 {
  text-align: center;
  font-size: 80px;
  color: #000026;
}
.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 1px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }
  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero{
    text-align: center;
  margin-top: 7%;
  }
}

/* 



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  line-height: 10vh;
  height: 10vh;
  background: rgba(0, 0, 38, 0.95);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: rgba(0, 0, 38) 0 30px 30px -20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-family: "Rubik Wet Paint", cursive;
  color: #f2c832;
} */
